

/* body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}
.main-body {
    padding: 15px;
} */
.p_header_div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.p_header_div span{
    width: fit-content;
margin-right: 25px;
/* padding: 40px; */
}
.profile_main_body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.p_pic_card{
    width: 30%;
    height: 100%;
    text-align: center;
    min-width: 280px;
}
.p_detail_card{
    width: 60%;
    height: 100%;
    min-width: 280px;
}
.btn{
    background: var(--primary-color);
    color: var(--txt-White);
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    margin-top: 10px;

}
.row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100%;
}
.col-sm-3{
    width: 30%;
}
.col-sm-9{
    width: 70%;
}
.mb-0{
    text-shadow: var(--primary-color);
}
/* .text-secondary{

} */
.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0,.06);
    background-color: var(--primary-color);
    border-style: groove;
}

.card {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 2 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    /* background-color: var(--primary-color); */
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;

}
.rofile_pic_div{
    height: 180px;
    position: relative;
}
.rofile_pic_div img{
   width: 180px;
   height: 180px;
   border-radius: 50%;
}
/* .pic_card_body{
    text-align: center;
} */
.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.select{
    color: var(--black);
    border-radius: 5px;
    padding: 10px 15px;
    background: transparent;

    border: 1px solid var(--black);

    cursor: pointer;
}
.select option :hover{
background-color: var(--primary-color) !important;
}
.mt-3{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.danger{
    font-size: 16px;
    /* color: var(--error-color) !important; */
background-color:rgb(241, 94, 94) !important;
    cursor: pointer;
}
.status_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


