.question_box {
  background-color: #e9582b;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.qAns {
  position: absolute;
  top: 50px;
  transition: all 3s ease-in;
  line-height: 0;
  color: black;
}
.country {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
}
.qA {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.qA button {
  margin-left: 100px;
}
